@import "tailwindcss";
.allbg { 
  background-color:black;
  font-family: Inter, system-ui, sans-serif;
}


/* color */ 
.clbk{color: black;}
.clwt {color: white;}
.clmg{color: #38e7bb;}
.cldull{color: #8a99a0;}

/* color */

/* card */
.card { 
    
    border: 1px solid #272727;
    color:#f2f2f2;
    border-radius: 30px;
    margin: 20px;
    background:#17191b;
    text-align: center;

}

/* card */

/* button  */
.btn {
   
    border: 1px solid #414949;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);



}


/* button  */























/* hover effect */
.heart {
    background: #0b0d0f;
    border: 1px solid #272727;
    border-radius: 10px;
    padding: 20px;
    color: #4be2a2;
    animation: float3D 3s ease-in-out infinite;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes float3D {
    0% {
        transform: translateY(0px) translateX(0px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    50% {
        transform: translateY(-15px) translateX(3px);
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: translateY(0px) translateX(0px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}
/* hover effect */













